__pycache__/
.ipynb_checkpoints/
*dist/
build/
*.egg
*.egg-info/

!.github/workflows/
!/readme_generator/
!.gitignore
!pyproject.toml
!README.md
!requirements.txt
!install_package.sh
!tests/