# Ignore Python cache and Jupyter checkpoints
__pycache__/
.ipynb_checkpoints/
*.egg-info/
*dist/

# Ignore everything except specific files and folders
# (Remove these negations unless you have a global ignore above)
!.github/workflows/
!/readme_generator/
!.gitignore
!pyproject.toml
!README.md
!requirements.txt
!install_package.sh
!tests/